// Style time



body {
    font-family: Arial;
    background-color: lightgray;
}

button {
    background-color: blue;
    padding: 12px 0px;
    font-size: 25px;
}

#results {
    font-family: Arial;
    font-size: 15px;
}

h1 {
    text-align: left;
    font-size: 60pt;
    font-family: "Times New Roman";
}

#height {
    text-align: center;
    padding: 20px 0px;
    font-size: 20px;
    background-color: white;
  }

#weight {
    text-align: center;
    padding: 20px 0px;
    font-size: 20px;
    background-color: white;
  }